body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f172a;
  color: #e2e8f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  background: #1e293b;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4)
}